/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require foundation_and_overrides
 */

#banner {
  background: #9c9;
  border-bottom: 2px solid;

  color: #282;
  .banner-title {
    text-align: center;
    font: small-caps xx-large " Times New Roman ", serif;

  }

  img {
    float: left;
  }

}

body {
  background: #141 !important;
}

#main-area {
  background: #141;

  #main {
    background: white;
  }

}

#side {
  background: #141;

  li {
    a {
      color: #bfb !important;
    }
  }

}

#footnotes_debug {
  background: #fff;
  border: 2px solid #333;
}